body{
    margin: 0;
    font-family: sans-serif;
    display:flex; /*brings it in the center*/
    flex-direction: column; /* arraganges it in columns*/
    align-items: center;
    height: 100vh; 
    justify-content: center; 
      background: url(bg1.avif);
      overflow: hidden;
}
h2{
    text-transform: uppercase;
    letter-spacing: 4px;
    font-size: 20px;
    text-align: center;
    color: white;
    text-shadow: 2px 2px 4px rgba(0,0,0,0.3);

}
.clock{
    display: flex;
}
.clock div{
    margin: 5px;
    position: relative;

}
.clock span{
    width: 100px;
    height:80px;
    background-color: rgb(185, 159, 159);
    opacity: 0.6;
    color:white;
     display:flex;
     justify-content: center;
     align-items: center;
     font-size: 50px;
     text-shadow: 2px 2px 4px rgba(0,0,0,0.3);
}
.clock .text{
    height: 30px;
    font-size: 10px;
    text-transform: uppercase;
    letter-spacing: 2px;
    background: rgb(164, 102, 102);
    opacity:0.8;
    background-size: cover;

}
.clock #ampm{
    bottom:0; 
    position: absolute;
    width: 60px;
    height:30px;
    font-size: 20px;

    background: rgb(108, 158, 184);

   


}
